body {
  margin: 0;
  font-family: Arial;
  background: #000;
  color: #00aaff;
  text-align: center;
}

header {
  background: #001f33;
  padding: 15px;
}

button {
  background: #00aaff;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #0088cc;
}

#products {
  padding: 20px;
}

.product {
  background: #001420;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}

footer {
  background: #001f33;
  padding: 10px;
}
